# Build and Release Folders
bin-debug/
bin-release/
[Oo]bj/
[Bb]in/

# Other files and folders
.settings/

# Executables
*.swf
*.air
*.ipa
*.apk


# Logs and Databases
*.log

# test directory
test

# Python cache files
__pycache__/
*.pyc

# Customized Makefile/project overrides
GNUmakefile
makefile
user.props
